<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Annuaire des anciens étudiants de GEA
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
      <link href="{{ asset('bundles/abprojectdirectorygea/bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="{{ asset('bundles/abprojectdirectorygea/css/main.css') }}" type="text/css" media="all" />
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="header row">
        <div class="col-md-12">
            <a href="#"><img class="img-responsive center-block" src="{{ asset('bundles/abprojectdirectorygea/images/logo.png') }}" alt="Annuaire GEA" /></a>
            <h1 class="h1 text-center">Annuaire des anciens étudiants de l'IUT GEA du Mans</h1>
        </div>
      </div>

      <nav class="main-menu">
        <ul class="nav nav-pills nav-justified">
          <li role="homepage"><a href="{{ path('ab_project_directory_gea_homepage') }}">Home</a></li>
          <li role="etudiants"><a href="{{ path('etudiant') }}">Etudiants</a></li>
          <li role="contact"><a href="#">Contact</a></li>
        </ul>
        <img class="menu-img" src="{{ asset('bundles/abprojectdirectorygea/images/menu.jpg') }}" alt="Annuaire GEA" />
      </nav>
 
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>


        <footer class="main-footer">
          <ul>
            <li><a href="mailto:aziliz.blanchet@gmail.com">Contacter l'administrateur</a></li>
            <li>Projet réalisé par les étudiants de l'IUT GEA du Mans, promotion 2015</li>
          </ul>
        </footer>
    </div>
      <script src="{{ asset('bundles/abprojectdirectorygea/js/jquery.min.js') }}"></script>
      <script src="{{ asset('bundles/abprojectdirectorygea/bootstrap/bootstrap.min.js') }}"></script>
  </body>
</html>