{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Rechercher par :</h3>
            <p class="h5">Spécialité :    
            {% for spe in spes %}
                <button class="btn"><a href="{{ path('ab_project_directory_gea_specialite', { 'slug': spe.slug }) }}">{{ spe }}</a></button>
            {% endfor %}
            </p>
            <p class="h5">Promotion :    
            {% for promo in promos %}
                <a href="{{ path('ab_project_directory_gea_promotion', { 'slug': promo.slug }) }}">{{ promo }}</a> - 
            {% endfor %}
            </p>
            
        </div>
    </div>

    <div class="student-details">
        
    </div>
    <div class="row">
        {% for entity in entities %}
            <div class="entity student col-md-3 col-md-offset-1" data-id="{{ entity.id }}">
                    <h4>{{ entity.prenometudiant }} {{ entity.nometudiant }}</h4>
                    <p>{{ entity.specialite }}</br>Promotion {{ entity.promotion }}</p>
                
            </div>
        {% endfor %}
    </div>
    <div class="navigation-pagination text-center">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}