{% extends 'ABProjectDirectoryGEABundle::layout.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Rechercher par :</h3>
            <p class="h5">
                <label>Spécialité :</label>  
            {% for spe in spes %}
                <button class="btn"><a href="{{ path('ab_project_directory_gea_specialite', { 'slug': spe.slug }) }}">{{ spe }}</a></button>
            {% endfor %}
            </p>
            <p class="h5">
                <label>Promotion :</label>
                <select class="form-control" onChange="location = this.options[this.selectedIndex].value;">  
            {% for promo in promos %}
                    <option value="{{ path('ab_project_directory_gea_promotion', { 'slug': promo.slug }) }}">
                        {{ promo }}
                    </option>
            {% endfor %}
                </select>
            </p>
            <p class="h5">
                <input type="name" class="form-control" id="inputName">
                <form action={{ path('erlem_job_search') }} method="get">
                    <label for="inputName">Nom :</label>
                    <input type="name" name="query" value='{{ app.request.get('query') }}' class="form-control" id="inputName">
                    <input type="submit" value="search" />
                </form>
            </p>
            
        </div>
    </div>

    <div class="student-details">
        
    </div>
    <div class="row">
        {% for entity in entities %}
            <div class="entity student col-md-3 col-md-offset-1" data-id="{{ entity.id }}">
                    <h4>{{ entity.prenometudiant }} {{ entity.nometudiant }}</h4>
                    <p>{{ entity.specialite }}</br>Promotion {{ entity.promotion }}</p>
                
            </div>
        {% endfor %}
    </div>
    <div class="navigation-pagination text-center">
        {{ knp_pagination_render(entities) }}
    </div>

{% endblock %}